# Example environment variables for deployment (rename to .env locally if needed)
REACT_APP_API_URL=https://your-api.example.com
REACT_APP_NETLIFY_SITE_ID=your_netlify_site_id_here
# Admin credentials (for demo only) - replace before production
ADMIN_ID=Parveen
ADMIN_PASSWORD=Parveen@7609

MONGODB_URI=mongodb+srv://pardep175_db_user:parveen7609%40@cluster0.spzilww.mongodb.net/mydb?retryWrites=true&w=majority